/* Estilos globales para todas las pantallas */

@media (min-width: 768px) {
  /* Navbar */
  .navbar__list{
    display: flex;
  }

  .navbar__menu{
    display: none;
  }

  /* Sobre Nosotros */
  .sobre-nosotros__content {
    flex-direction: row;
  }

  /* Catálogo */
  .catalogo__subtitle{
    text-align: left;
  }
  
  .catalogo__cards{
    width: fit-content;
  }

  .cards__container{
    gap: 1em;
  }

  /* Contacto */
  .contacto__article{
    flex-direction: row;
  }

  /* Footer */
  .footer__list{
    flex-direction: row;
    justify-content: space-between;
  }

  .footer__navbar{
    flex-direction: row;
  }

  /* Login y Register */

  .log-reg__item{
    display: block;
  }

  .login__article{
    flex-direction: row;
    justify-content: space-evenly;
    gap: 6rem;
  }
}

@media (min-width: 1024px) {
  /* Hero */
  .hero__article{
    flex-direction: row-reverse;
    margin-inline: 5rem;
    padding-block: 5rem;
  }

  .hero__content{
    text-align: left;
    gap: 2rem;
  }

  .hero__title{
    font-size: 2em;
  }

  .hero__paragraph{
    width: 80%;
  }

  .hero__links{
    justify-content: start;
  }

  .hero__img{
    width: 1200px;
  }

  .btn{
    margin-left: 0;
  }

  .title{
    font-size: 2em;
  }

  /* Sobre Nosotros */
  .sobre-nosotros__content {
    margin: auto 5rem;
  }

  /* Compras Cards */
  .compras__article{
    padding-block: 10rem;
  }

  .compras__article{
    flex-direction: row;
  }

  .compras__item{
    gap: 2em;
  }

  /* Contacto */
  .contacto__item{
    width: 50%;
  }

  /* Login */
  .login__article{
    padding-block: 5rem;
  }
}